# Node modules
frontend/modaresa/node_modules/
backend/node_modules/

# Environment variables
frontend/.env
backend/.env

# Next.js build / cache
frontend/modaresa/.next/
frontend/out/

# Backend temp/uploads
backend/uploads/tmp/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Optional: editor files
.vscode/
.idea/

backend/src/uploads/tmp